@font-face {
    font-family: LinLibertine;
    src: url("../assets/fonts/LinLibertine_R.ttf") format("truetype");
}

@font-face {
    font-family: LinLibertine-bold;
    font-weight: bold;
    src: url("../assets/fonts/LinLibertine_RB.ttf") format("truetype");
}

@font-face {
    font-family: LinLibertine-bolditalic;
    font-weight: bold;
    src: url("../assets/fonts/LinLibertine_RBI.ttf") format("truetype");
}

@font-face {
    font-family: LinLibertine-italic;
    src: url("../assets/fonts/LinLibertine_RI.ttf") format("truetype");
}

@font-face {
    font-family: OSPDIN;
    src: url("../assets/fonts/OSP-DIN.ttf") format("truetype")
}

html,
body {
    height: 100%;
    width: 640px;
}

html {
    display: table;
    margin: auto;
    font-family: LinLibertine, Arial, Helvetica, sans-serif;
}

body {
    display: table-cell;
    vertical-align: top;
    font-family: LinLibertine, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
}

h1,
h2,
h3 {
    line-height: 0.2em;
}

h1 {
    font-family: LinLibertine-bold;
    font-size: 1.62em;
}

h2 {
    font-family: LinLibertine-bolditalic;
    font-size: 1.1em;
}

h3 {
    font-family: LinLibertine-bold;
    font-size: 1em;
}

em {
    font-family: LinLibertine-italic;
}

/*
 * #236192 Pantone Plus 647 C - Blue
 * #ffcd00 Pantone Plus 116 C - Gold
 * #ffffff White
*/

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

a:hover {
    color: #efdbb2;
}

.uaf {
    font-family: OSPDIN;
    color: #ffcd00;
    background: #236192;
    border-radius: 5px;
    margin: auto;
    padding: 3px;
    display: table;
    width: 100%;
    line-height: 1.5em;
}

.bluehr {
    background: #236192;
    height: 0.2em;
    border: none;
}

.goldhr {
    background: #ffcd00;
    height: 0.2em;
    border: none;
}

table {
    /* width: 100%; */
    border: blue;
}

td,
th {
    border-radius: 5px;
    background: lightgrey;
    padding: 3px;
    color: #ffcd00;
    background: #236192;
    font-family: OSPDIN;
}